<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.rinoiot">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" /><!-- Android 13 (API 33) 在广告 ID 方面 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 适配Android R包可见性 解决android11调起相机无反应问题 -->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries> <!-- 允许获取粗略位置，若用GPS实现定位小蓝点功能则必选 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许获取设备和运营商信息，用于问题排查和网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许获取网络状态，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许获取wifi网络信息，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许获取wifi状态改变，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许写入扩展存储，用于数据缓存，若无此权限则写到私有目录 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="32"
        tools:ignore="ProtectedPermissions" /> <!-- 允许读设备等信息，用于问题排查 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 允许写设备缓存，用于问题排查 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 如果需要精确定位的话请加上此 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Android12 的蓝牙权限 如果您的应用使当前设备可被其他蓝牙设备检测到-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--Android12 的蓝牙权限 如果您的应用与已配对的蓝牙设备通信或者获取当前手机蓝牙是否打开-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--Android12 的蓝牙权限 如果您的应用查找蓝牙设备（如蓝牙低功耗 (BLE) 外围设备）-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- Android 11 必须加后台定位权限，否则不会出现始终允许-->

    <!-- Required only if your app targets Android 13. -->
    <!-- Declare one or more the following permissions only if your app needs
    to access data that's protected by them. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- 兼容部分机型udp广播包接收不到的情况，需要申明这个权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.NFC" />
    <!-- com.amazon.dee.app 需要在清单文件中声明，否则在 targetSdkVersion 30 及以上 AppUtils#isAppInstalled() 无效。 -->
    <queries>
        <package android:name="com.amazon.dee.app" />
    </queries>
    <application
        android:name="com.smart.rinoiot.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/rino_app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rino"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:allowBackup,android:supportsRtl,android:theme,android:label">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <!-- 根据不同渠道走不同的业务场景 -->
        <meta-data
            android:name="CURRENT_CHANNEL"
            android:value="${current_channel}" />
        <!-- Rn 核心版本号 -->
        <meta-data
            android:name="RN_CORE_VERSION"
            android:value="${rn_core_version}" />
        <activity
            android:name="com.smart.rinoiot.user_ui.activity.BlankActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Rino.flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.smart.rinoiot.user_ui.activity.BlankActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="INTENT_ACTION_FROM_CONSOLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <!-- 状态栏工具配置 -->
        <!-- 适配华为刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/rino_user_amap_apikey" />
        <!-- 高德定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name="com.smart.rinoiot.user_ui.update.CustomFileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xufei_image_filepaths" />
        </provider>
    </application>

</manifest>
