.DS_Store
.hgignore

build/*
.hg/*
docs/*
.svn/
DerivedData/
debug_workspace/*
Carthage/*
Products/*
ios/build/*
node_modules/*

.idea/*

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

Pods/
Podfile.lock
